.poljeTrazi {
    -fx-control-inner-background: black;
    -fx-border-width: 2;
    -fx-border-radius: 2px;
}
.addBobOk{
    -fx-background-color:#90EE90;
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}
.poljePrekini {
    -fx-control-inner-background: default;
    -fx-border-width: 2;
    -fx-border-radius: 2px;
}